html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(https://i.imgur.com/RLKaymZ.png);
}

header {
    position: fixed;
    height: 68px;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: white;
    border-bottom: solid 1.5px #cccccc;
}

.name {
    position: fixed;
    float: left;
    padding: 30px 25px 5px 25px;
    margin-left: 135px;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 13px;
    font-weight: bolder;
    color: white;
}

.topnav {
    overflow: hidden;
    height: 100%;
    padding: 15px 20px 0px 20px;
    margin-left: 1025px;
    background-color: white;
    color: #cccccc;
}

.topnav a {
    float: right;
    padding: 0 10px 0 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #a1a1a1;
    text-decoration: none;
    border-right: 1px solid #dddddd;
}

.topnav a:first-of-type {
    border-right: none;
}

.topnav a:hover {
    color: #4aaaa5;
}

h4 {
    padding: 20px 0 10px 0;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bolder;
    color: #4aaaa5;
}

.biopicdiv {
    float: left;
    padding: 20px 20px 0px 0px;
}

.biopic {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

p {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.outerbox {
    margin: 100px 150px 20px 150px;
    padding: 0 30px 0 30px;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    line-height: 150%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.content {
    padding: 15px 0 10px 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    border-top: solid 3px #dddddd;
}

#form {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 15px 8px 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    border: solid 1px #dddddd;
}

#form2 {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    padding: 8px 15px 8px 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    border: solid 1px #dddddd;
    resize: none;
}

#forms li {
    list-style: none;
    display: block;
    margin: 0 0 0 -38px;
}

textarea {
    box-sizing: border-box;
    outline: none;
}

#submit {
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    color: white;
    background-color: #4aaaa5;
    border: solid 1px #cccccc;
}

#container {
    position: relative;
    padding: 10px 0 20px 0;
    overflow: auto;
}

#caption {
    position: absolute;
    width: 250px;
    top: auto;
    bottom: 50px;
    padding: 10px 40px 10px 20px;
    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #4aaaa5;
}

.table {
    padding: 10px 0px 10px 0px;
    overflow: auto;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -20px;
}

.footer,
.push {
    height: 20px;
}

footer {
    padding: 15px 0 15px 0;
    margin-bottom: 0;
    bottom: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    color: white;
    text-align: center;
    background-color: #666666;
    border-top: solid 8px #4aaaa5;
}

/*
@media only screen and (max-width: 768px) {
    /* For mobile phones:
    [class*="col-"] {
      width: 100%;
    }
}
*/


/*
@media only screen and (max-width: 768px) {
    /* For mobile phones:
    [topnav="col-md-12"] {
    width: 100%;
    }
}


/* xs devices (portrait phones) */
/*
@media (max-width: 575px) {

.wrapper {
    width: 400px;
}
}

/* sm devices (landscape phones) */
/*
@media (min-width: 576px) {

.wrapper {
    width: 420px;
}
}

/* md devices (tablets) */
/*
@media (max-width: 991px) {

.wrapper {
    width: 800px;
}
}

/* lg devices (desktops) */
/*
@media (max-width: 1199px) {

.wrapper {
    min-height: 100%;
    margin-bottom: -20px;
}
}